<h1>Blog Articles</h1>

<ul>
  <% @articles.each do |article| %>
  <li><%= link_to article.title, seo_path(article),
          class: "article_title",
          id: dom_id(article) %></li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, class: "new_article" %>
